
li, ul{
display: flex;
flex-direction: column;
align-items: center;
justify_content: center;
}

p{
color: red;
display: flex;
flex-direction: column;
align-items: center;
justify_content: center;
}





